# Estudo da módulo Datetime

In [1]:
import pandas as pd
import datetime

di = datetime.date(2016, 5, 12)
df = datetime.date(2018, 9, 17)

Datas = pd.date_range(di, df)

wd=[]
for k in Datas:
    if k.weekday()==0:
        wd.append('Segunda-Feira')
    elif k.weekday()==1:
        wd.append('Terça-Feira')
    elif k.weekday()==2:
        wd.append('Quarta-Feira')
    elif k.weekday()==3:
        wd.append('Quinta-Feira')
    elif k.weekday()==4:
        wd.append('Sexta-Feira')
    elif k.weekday()==5:
        wd.append('Sábado')
    elif k.weekday()==6:
        wd.append('Domingo')
        
df=pd.DataFrame(wd,index=Datas)

display(df)

                        0
2016-05-12   Quinta-Feira
2016-05-13    Sexta-Feira
2016-05-14         Sábado
2016-05-15        Domingo
2016-05-16  Segunda-Feira
...                   ...
2018-09-13   Quinta-Feira
2018-09-14    Sexta-Feira
2018-09-15         Sábado
2018-09-16        Domingo
2018-09-17  Segunda-Feira

[859 rows x 1 columns]

In [2]:
wdE=[]
for k in Datas:
    wdE.append(k.strftime("%A"))

In [3]:
df2=pd.DataFrame(wdE,index=Datas)

display(df2)

                   0
2016-05-12  Thursday
2016-05-13    Friday
2016-05-14  Saturday
2016-05-15    Sunday
2016-05-16    Monday
...              ...
2018-09-13  Thursday
2018-09-14    Friday
2018-09-15  Saturday
2018-09-16    Sunday
2018-09-17    Monday

[859 rows x 1 columns]

In [8]:
from datetime import date

my_date = date(2019, 11, 4)
print(my_date)

2019-11-04

In [9]:
today = date.today()

print("Today:", today)
print("Year:", today.year)
print("Month:", today.month)
print("Day:", today.day)

Today: 2021-11-26
Year: 2021
Month: 11
Day: 26

In [16]:
# O timestamp é na realidade a diferença entre uma determinada data (incluindo a hora) e 1 de janeiro de 1970, 
# 00:00:00 (UTC), expressa em segundos.

# Para este fim, podemos usar o módulo time , que fornece funções relacionadas ao tempo. Uma delas é uma função
# chamada time() que devolve o número de segundos desde 1 de janeiro de 1970 até ao momento atual sob a forma de 
# um número float. Dê uma vista de olhos no exemplo no editor.

import time

timestamp = time.time()
print("Timestamp:", timestamp)

d = date.fromtimestamp(timestamp)
print("Date:", d)

Timestamp: 1637934366.1166654
Date: 2021-11-26

In [11]:
d = date.fromisoformat('2019-11-04')
print(d)

2019-11-04

In [12]:
d = date.fromisoformat('2019-1-04') # Deve se por os valores < 10 com dois dígitos
print(d)

ValueError: Invalid isoformat string: '2019-1-04'

In [13]:
d = date(1991, 2, 5)
print(d)

d = d.replace(year=1992, month=1, day=16)
print(d)

1991-02-05
1992-01-16

In [14]:
d = date(2019, 11, 4)
print(d.weekday())
print(d.isoweekday())

0
1

In [19]:
from datetime import time

t = time(14, 53, 20, 1)

print("Time:", t)
print("Hour:", t.hour)
print("Minute:", t.minute)
print("Second:", t.second)
print("Microsecond:", t.microsecond)

Time: 14:53:20.000001
Hour: 14
Minute: 53
Second: 20
Microsecond: 1

In [20]:
import time

timestamp = 1572879180
print(time.ctime(timestamp))

Mon Nov  4 11:53:00 2019

In [21]:
print(time.ctime())

Fri Nov 26 10:48:49 2021

In [23]:
from datetime import datetime

d1 = date(2020, 11, 4)
d2 = date(2019, 11, 4)

print(d1 - d2)

dt1 = datetime(2020, 11, 4, 0, 0, 0)
dt2 = datetime(2019, 11, 4, 14, 53, 0)

print(dt1 - dt2)

366 days, 0:00:00
365 days, 9:07:00

In [24]:
dt1

datetime.datetime(2020, 11, 4, 0, 0)

In [25]:
from datetime import timedelta

delta = timedelta(weeks=2, days=2, hours=3)
print(delta)
print("Days:", delta.days)
print("Seconds:", delta.seconds)
print("Microseconds:", delta.microseconds)

16 days, 3:00:00
Days: 16
Seconds: 10800
Microseconds: 0

In [27]:
delta = timedelta(weeks=2, days=2, hours=2)
print(delta)

delta2 = delta * 2
print(delta2)

d = date(2019, 10, 4) + delta2
print(d)

d = datetime(2019, 10, 4) + delta2
print(d)

dt = datetime(2019, 10, 4, 14, 53) + delta2
print(dt)

16 days, 2:00:00
32 days, 4:00:00
2019-11-05
2019-11-05 04:00:00
2019-11-05 18:53:00

In [28]:
dt = datetime(2020,11,4,14,53)
print(dt)
print(dt.strftime('%y/%B/%d %H:%M:%S %p'))
print(dt.strftime('%a, %Y %b %d'))
print(dt.strftime('%A, %Y %B %d'))
print('Weekday:',dt.isoweekday())
print('Day of the year:',dt.strftime('%j'))
print('Week number of the year:',dt.strftime('%U'))

2020-11-04 14:53:00
20/November/04 14:53:00 PM
Wed, 2020 Nov 04
Wednesday, 2020 November 04
Weekday: 3
Day of the year: 309
Week number of the year: 44

In [30]:
from datetime import time
t = time(14, 39)
print(t.strftime("%H:%M:%S"))

14:39:00

In [31]:
import calendar
print(calendar.calendar(2020))

                                  2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [32]:
# prcal, que também toma os mesmos parâmetros que a função calendar , mas não requer o uso da função print 

calendar.prcal(2020)

                                  2020

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                         1
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       2  3  4  5  6  7  8
13 14 15 16 17 18 19      10 11 12 13 14 15 16       9 10 11 12 13 14 15
20 21 22 23 24 25 26      17 18 19 20 21 22 23      16 17 18 19 20 21 22
27 28 29 30 31            24 25 26 27 28 29         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [33]:
print(calendar.month(2021, 11))

   November 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [34]:
calendar.setfirstweekday(calendar.SUNDAY)
calendar.prmonth(2020, 12)

   December 2020
Su Mo Tu We Th Fr Sa
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [35]:
print(calendar.weekday(2020, 12, 24))

3

In [36]:
print(calendar.isleap(2020))
print(calendar.leapdays(2010, 2021))  # Up to but not including 2021.

True
3

In [171]:
import calendar  

class MyCalendar(Calendar):
    def __init__(self):
        Calendar.__init__(self)        
        
    def count_weekday_in_year(self, year = 2019, weekday = 0):
        self.lista_dw = []
        for k in range(1,13):
            for j in self.monthdays2calendar(year, k):
                for i in j:
                    if i[0] != 0:
                        self.lista_dw.append(i)
                    
        self.lista_wd = list(filter(lambda x: (x[1] == weekday), self.lista_dw))
        
        return len(self.lista_wd)

In [172]:
c = MyCalendar()
c.count_weekday_in_year()

52

In [173]:
c.count_weekday_in_year(year=2000, weekday = 6)

53

In [149]:
print(c.monthdays2calendar(2016,1))

[[(0, 0), (0, 1), (0, 2), (0, 3), (1, 4), (2, 5), (3, 6)], [(4, 0), (5, 1), (6, 2), (7, 3), (8, 4), (9, 5), (10, 6)], [(11, 0), (12, 1), (13, 2), (14, 3), (15, 4), (16, 5), (17, 6)], [(18, 0), (19, 1), (20, 2), (21, 3), (22, 4), (23, 5), (24, 6)], [(25, 0), (26, 1), (27, 2), (28, 3), (29, 4), (30, 5), (31, 6)]]

In [190]:
(date(date(2000,1,1).year+1,1,1) - date(2000,1,1)).days

366

In [193]:
base_i = date(2000,1,1)

numdays = (date(base_i.year+1,1,1) - base_i).days

date_list = [base + timedelta(days=x) for x in range(numdays)]

In [194]:
wd = 6
sum(map(lambda x: 1 if x.weekday() == wd else False, date_list))

53

In [196]:
calendar.isleap(2019)

False

In [198]:
for w in c.iterweekdays():
    print(w)

0
1
2
3
4
5
6

In [200]:
print(calendar.weekheader(2))

Su Mo Tu We Th Fr Sa

In [201]:
s = 'abcdef'

for k in s[::2]: # Pula de dois em dois
    print(k)

a
c
e

In [204]:
print(timedelta(weeks=1,days=7,hours=11)*2)

28 days, 22:00:00

In [209]:
print(timedelta(weeks=1,days=7,hours=11))

14 days, 11:00:00

In [208]:
from datetime import datetime

print(datetime(2019,11,27,11,27,22)-datetime(2019,11,27,0,0,0))

11:27:22

In [210]:
class A:
    def __init_(self):
        pass
    
    def f(self):
        return 1
    
    def g():
        return self.f()
    
a= A()
print(a.g())

TypeError: g() takes 0 positional arguments but 1 was given

In [213]:
datetime(2019,11,27,11,27,22).strftime('%Y/%m/%d %H')

'2019/11/27 11'

In [217]:
c = calendar.Calendar(calendar.SUNDAY)

for w in c.iterweekdays():
    print(w, end = " ")

6 0 1 2 3 4 5